
@font-face {
    font-family: keycaps;
    src: url(vaground.ttf);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

BODY {
    font: 14px/18px Verdana, sans-serif;
}

#keyboardFrame {
    width: intrinsic;
    background-color: #ccc;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    padding: 4mm;
}

#keyboard {
    display: inline-block;
    position: relative;
    box-sizing: content-box;
}

.keyParent {
    position: absolute;

    -webkit-perspective: 100;
    -moz-perspective: 100;
    perspective: 100;
}

.keylabel {

    font-size: 12px;
    line-height: 15px;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-radius: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    display: -moz-box;
    -moz-box-align: center;
    -moz-box-pack: center;

    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;

    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.keyParent.keylabelShowFront .keylabelFront {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}

.keyParent.keylabelShowBack .keylabelBack {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.keylabelSmaller {
    font-size: 80%;
}

.keylabelSmallest {
    font-size: 70%;
}

.keylabelFKey {
    font-size: 70%;
    line-height: 100%;
    width: 100%;
    height: 100%;
    padding: 2px;

    display: -moz-box;
    -moz-box-align: end;
    -moz-box-pack: end;

    display: -webkit-box;
    -webkit-box-align: end;
    -webkit-box-pack: end;
}

.keylabelLR {
    font-size: 80%;
    width: 100%;
    height: 100%;
    padding-right: 3px;

    display: -moz-box;
    -moz-box-align: end;
    -moz-box-pack: end;

    display: -webkit-box;
    -webkit-box-align: end;
    -webkit-box-pack: end;
}

.keylabelLL {
    font-size: 80%;
    width: 100%;
    height: 100%;
    padding-left: 3px;

    display: -moz-box;
    -moz-box-align: end;
    -moz-box-pack: start;

    display: -webkit-box;
    -webkit-box-align: end;
    -webkit-box-pack: start;
}

.keyup .keylabel {
    -webkit-box-shadow: 0px 1px 1px #777;
    -moz-box-shadow: 0px 1px 1px #777;
    box-shadow: 0px 1px 1px #777;
}

.keydown .keylabel {
    -webkit-box-shadow: inset 0px 1px 1px #444;
    -moz-box-shadow: inset 0px 1px 1px #444;
    box-shadow: inset 0px 1px 1px #444;
}

.keyToolTip {
    display: none;
    position: absolute;
    top: 105%;
    left: -10%;
    width: auto;
    height: auto;
    text-align: left;
    white-space: nowrap;
    background: hsl(60, 100%, 90%);
    border: 1px solid hsl(60, 80%, 70%);
    padding: .5em;
    font-size: 14px;
}

.keyParent:hover .keyToolTip {
    display: block;
}

#fingers {
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: .125in;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: end;
    -webkit-box-pack: justify;
}

.finger {
    width: 9%;
    height: 100%;
    margin: 0 0.5%;
    border-bottom: 1px solid hsl(210, 100%, 88%);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    -webkit-box-direction: reverse;
}

.fingerKey {
    position: relative;
    font-size: 9px;

    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(210, 100%, 85%)), to(hsl(210, 100%, 100%)));
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(210, 100%, 85%)), to(hsl(210, 100%, 100%)));
}

.fingerKeyLabel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fingerKeyToolTipL, .fingerKeyToolTipR {
    display: none;
    position: absolute;
    top: 0;
    background: hsl(60, 100%, 90%);
    border: 1px solid hsl(60, 80%, 70%);
    padding: .5em;
    font-size: 14px;
    z-index: 2;
}

.fingerKey:hover .fingerKeyToolTipL, .fingerKey:hover .fingerKeyToolTipR {
    display: block;
}

.fingerKeyToolTipL {
    left: 100%;
}

.fingerKeyToolTipR {
    right: 100%;
}

#controls {
    margin-bottom: .125in;
}

